@mixin images: {
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 10px;
    max-width: 100%; 
  
}

@mixn containerc: {
    display: block;
    margin-left: auto;
    margin-right: auto;
}

